.primary-button {
   padding: 1rem 2rem;
   width: 100%;
   text-wrap: nowrap;
   border-radius: 10px;
   border: none;
   color: var(--daisy-primary); 
   background-color: var(--daisy-pink6);
   font-weight: bold;
   text-transform: uppercase;
   cursor: pointer;
   font-family: "Inter", sans-serif;
   box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
   display: flex;
   gap: 8px;
   align-items: center;
   justify-content: center;
}

.secondary-button{
   padding: 1rem 2rem;
   width: 100%;
   text-wrap: nowrap;
   border-radius: 10px;
   border: none;
   color: var(--daisy-pink4); 
   background-color: var(--daisy-primary);
   font-weight: bold;
   text-transform: uppercase;
   cursor: pointer;
   font-family: "Inter", sans-serif;
   display: flex;
   gap: 8px;
   align-items: center;
   justify-content: center;
}